body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100%;;
}

button {
  outline: none;
}

.container-fluid{
  max-width: 1600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-page-header {
  padding: 20px 10px;
  background-color: #4ABDAC;
}

.home-page-header a {
  background-color: #FC4A1A;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.sort-menu {
  padding: 10px 0;
}

.score-menu {
  margin-right: 20px;
}

.score-menu button {
  background-color: transparent;
  border: none;
  outline: transparent;
}

.score-menu button:hover {
  cursor: pointer;
}


@media (min-width: 768px) {
    
}