body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100%;;
}

button {
  outline: none;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.readable-header {
  background-color: #96858F;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.readable-controls{
  background-color: #6D7993; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.readable-dropdown button {
  background-color: transparent;
  outline: transparent;
  color: #ffffff;
}

.add-button {
  background-color: transparent;
  color: #ffffff;
}

.posts-list {
  padding: 15px;
}

.posts-list header{
  padding: 20px;
}

.post-info a {
  color: #6D7993;
}

.nro-comments {
  font-size: 15px;
  color:  #96858F;
  margin-right: 20px;
}

.score {
  color: #6D7993;
}

.score button {
   background-color: transparent;
   border: 0;
   outline: transparent;
}

.score button:hover {
  cursor: pointer;
}